<html>
    <head>
        <title>Among Us Finder</title>
    </head>
    <body>
    Homepage (robocze)

    Log out

    <p>Log in</p>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button><a href="{% url 'users:login_form' %}" >Log in</a></button>
        </form>


    <p>Registration:</p>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button><a href="{% url 'users:signup_form' %}">Sign up</a></button>
        </form>
    </body>
</html>
